In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('selfiedeaths.csv')

In [3]:
df

,Date,Country,Casualties,Type,Description,Source(s)
0,15 October 2011,United States,3,Transport,Three teenagers (two sisters and a friend) wer...,[8][9]
1,13 December 2013,United Kingdom,1,Transport,A 17-year-old girl committed suicide by jumpin...,[10]
2,March 2014,Spain,1,Electrocution,A 21-year-old man was electrocuted after climb...,[11]
3,April 2014,United States,1,Transport,A 32-year-old woman from North Carolina was dr...,[12][13]
4,May 2014,India,1,Transport,A 15-year-old boy was killed by a train while ...,[14]
5,June 2014,Italy,1,Fall,A 16-year-old girl died in Taranto after plung...,[15]
6,July 2014,Philippines,1,Fall,A 14-year-old high school student in the Phili...,[16]
7,August 2014,Philippines,1,Firearm,A 15-year-old boy in the Philippines was criti...,[17]
8,2 August 2014,Mexico,1,Firearm,A 21-year-old man was drinking with friends an...,[18][19]
9,August 2014,Portugal,2,Fall,A Polish couple fell to their death off a clif...,[20]
10,August 2014,India,1,Electrocution,"In Kerala, a 14-year-old boy was electrocuted ...",[21]
11,August 2014,United States,1,Transport,"A 36-year-old man, of Niagara, N.D., struck an...",[22]
12,October 2014,Philippines,1,Drowned,An 18-year-old woman in the Philippines was po...,[23][24][25]
13,November 2014,Spain,1,Fall,A 23-year-old student from Poland fell to her ...,[26][27]
14,January 2015,South Africa,1,Fall,A 21-year-old woman died after falling from No...,[28][29]
15,January 2015,Russia,2,Other,Two young men died in the Ural Mountains after...,[30]
16,January 2015,India,3,Transport,Three students aged 20 to 22 died trying to ta...,[31]
17,4 February 2015,India,1,Transport,An Israeli man traveling on a train from Mumba...,[32]
18,21 February 2015,United States,1,Transport,"A man in Kalama, Washington, stepped out onto ...",[33]
19,March 2015,India,7,Drowned,Seven youths drowned while taking selfies on M...,[34][35]
20,April 2015,Serbia,1,Transport,A 22-year-old man was trying to recreate a sce...,[36]
21,1 April 2015,Italy,1,Fall,A 60-year-old German tourist skiing in the Tre...,[37]
22,May 2015,Romania,2,Electrocution,An 18-year-old died when she attempted to take...,[38]
23,May 2015,Russia,1,Electrocution,A teenage boy climbed on a railway bridge in R...,[39]
24,May 2015,Russia,1,Firearm,A 21-year-old woman asked a security guard at ...,[40]
25,May 2015,Indonesia,1,Fall,A 21-year-old man from Yogyakarta fell into th...,[41][42]
26,May 2015,Indonesia,1,Fall,A Singaporean tourist died after falling into ...,[43]
27,June 2015,Pakistan,1,Firearm,A 15-year-old boy in Pakistan was taking selfi...,[44]
28,June 2015,Russia,2,Electrocution,"Two teenage girls were electric shocked, but s...",[45]
29,June 2015,Croatia,1,Fall,A 54-year-old Slovak tourist visiting Plitvice...,[46][47]
...,...,...,...,...,...,...
128,13 June 2017,Sri Lanka,2,Transport,A 24-year-old groom was killed and his bride s...,[168]
129,13 June 2017,Russia,1,Electrocution,A 15-year-old boy was killed when he tried to ...,[169]
130,16 June 2017,Russia,1,Electrocution,A 17-year-old boy was killed when he took a se...,[169]
131,17 June 2017,Russia,1,Electrocution,A 14-year-old girl was electrocuted when takin...,[169]
132,22 June 2017,United Kingdom,1,Fall,A 23-year-old woman from South Korea fell from...,[170]
133,1 July 2017,Nigeria,2,Drowned,Four undergraduate students of the Federal Uni...,[171]
134,16 July 2017,India,48,Fire,48 people were injured when standing too close...,[172]
135,25 July 2017,India,1,Animal,A 30-year-old man sneaked into the Bannerghatt...,[173]
136,26 July 2017,Hungary,1,Fall,A local girl fell off a bridge in Budapest suf...,[174]
137,26 July 2017,India,1,Drowned,An 18-year-old was swept into the sea and drow...,[175]
138,11 August 2017,India,1,Electrocution,A 17-year-old boy climbed on top of a train in...,[176]
139,26 August 2017,India,1,Electrocution,A 17-year-old boy attempted to take a selfie o...,[177]
140,2 September 2017,India,1,Animal,"A youth in Rourkela, Odisha was trampled to de...",[178]
141,12 September 2017,United Kingdom,1,Transport,A 41-year-old woman from New Zealand who took ...,[179]
142,16 September 2017,Malaysia,1,Fall,A 20-year-old man believed to be taking a self...,[180]
143,12 November 2017,United Kingdom,1,Fall,A 20-year-old woman from New Zealand died on N...,[181]
144,25 December 2017,Mexico,1,Fall,A 20-year-old woman from Aguascalientes (Mexic...,[182]
145,8 January 2018,Croatia,1,Electrocution,"In Zagreb, Croatia, 14-year-old boy climbed on...",[183]
146,11 January 2018,Colombia,1,Fall,"In Gámbita, Santander, Colombia A 19-year-old ...",[184]
147,24 January 2018,India,1,Transport,A 22-year-old Indian man was struck by a train...,[185][186]
148,9 February 2018,Thailand,2,Transport,A 22-year-old Thai woman died as a result of h...,[187]
149,20 April 2018,Greece,1,Fall,"In Keratsini, Greece, a 16-year-old boy died a...",[188]
150,22 April 2018,Brazil,3,Fall,"In Castelo do Piauí, Piauí, Brazil A 22-year-o...",[189]
151,30 April 2018,Brazil,1,Fall,"At Corumbá Lake in Caldas Nova, a 34-year-old ...",[190]
152,2 May 2018,India,1,Animal,"In Nabarangpur, Odisha, India, a man tried to ...",[191]
153,11 June 2018,Indonesia,1,Fall,A 46 year old Chinese tourist died after falli...,[192]
154,12 June 2018,Portugal,2,Fall,"On the Praia dos Pescadores, Ericeira, Portuga...",[193]
155,5 September 2018,United States,1,Fall,An Israeli teen fell to his death while trying...,[194]
156,19 September 2018,United States,1,Fall,A Californian woman fell to her death while ta...,[195]
157,12 October 2018,Panama,1,Fall,A Portuguese woman fell to her death while tak...,[196]

In [17]:
df['Year'] = df.Date.str.extract(r'(\d{4})')

In [19]:
df

,Date,Country,Casualties,Type,Description,Source(s),Year
0,15 October 2011,United States,3,Transport,Three teenagers (two sisters and a friend) wer...,[8][9],2011
1,13 December 2013,United Kingdom,1,Transport,A 17-year-old girl committed suicide by jumpin...,[10],2013
2,March 2014,Spain,1,Electrocution,A 21-year-old man was electrocuted after climb...,[11],2014
3,April 2014,United States,1,Transport,A 32-year-old woman from North Carolina was dr...,[12][13],2014
4,May 2014,India,1,Transport,A 15-year-old boy was killed by a train while ...,[14],2014
5,June 2014,Italy,1,Fall,A 16-year-old girl died in Taranto after plung...,[15],2014
6,July 2014,Philippines,1,Fall,A 14-year-old high school student in the Phili...,[16],2014
7,August 2014,Philippines,1,Firearm,A 15-year-old boy in the Philippines was criti...,[17],2014
8,2 August 2014,Mexico,1,Firearm,A 21-year-old man was drinking with friends an...,[18][19],2014
9,August 2014,Portugal,2,Fall,A Polish couple fell to their death off a clif...,[20],2014
10,August 2014,India,1,Electrocution,"In Kerala, a 14-year-old boy was electrocuted ...",[21],2014
11,August 2014,United States,1,Transport,"A 36-year-old man, of Niagara, N.D., struck an...",[22],2014
12,October 2014,Philippines,1,Drowned,An 18-year-old woman in the Philippines was po...,[23][24][25],2014
13,November 2014,Spain,1,Fall,A 23-year-old student from Poland fell to her ...,[26][27],2014
14,January 2015,South Africa,1,Fall,A 21-year-old woman died after falling from No...,[28][29],2015
15,January 2015,Russia,2,Other,Two young men died in the Ural Mountains after...,[30],2015
16,January 2015,India,3,Transport,Three students aged 20 to 22 died trying to ta...,[31],2015
17,4 February 2015,India,1,Transport,An Israeli man traveling on a train from Mumba...,[32],2015
18,21 February 2015,United States,1,Transport,"A man in Kalama, Washington, stepped out onto ...",[33],2015
19,March 2015,India,7,Drowned,Seven youths drowned while taking selfies on M...,[34][35],2015
20,April 2015,Serbia,1,Transport,A 22-year-old man was trying to recreate a sce...,[36],2015
21,1 April 2015,Italy,1,Fall,A 60-year-old German tourist skiing in the Tre...,[37],2015
22,May 2015,Romania,2,Electrocution,An 18-year-old died when she attempted to take...,[38],2015
23,May 2015,Russia,1,Electrocution,A teenage boy climbed on a railway bridge in R...,[39],2015
24,May 2015,Russia,1,Firearm,A 21-year-old woman asked a security guard at ...,[40],2015
25,May 2015,Indonesia,1,Fall,A 21-year-old man from Yogyakarta fell into th...,[41][42],2015
26,May 2015,Indonesia,1,Fall,A Singaporean tourist died after falling into ...,[43],2015
27,June 2015,Pakistan,1,Firearm,A 15-year-old boy in Pakistan was taking selfi...,[44],2015
28,June 2015,Russia,2,Electrocution,"Two teenage girls were electric shocked, but s...",[45],2015
29,June 2015,Croatia,1,Fall,A 54-year-old Slovak tourist visiting Plitvice...,[46][47],2015
...,...,...,...,...,...,...,...
128,13 June 2017,Sri Lanka,2,Transport,A 24-year-old groom was killed and his bride s...,[168],2017
129,13 June 2017,Russia,1,Electrocution,A 15-year-old boy was killed when he tried to ...,[169],2017
130,16 June 2017,Russia,1,Electrocution,A 17-year-old boy was killed when he took a se...,[169],2017
131,17 June 2017,Russia,1,Electrocution,A 14-year-old girl was electrocuted when takin...,[169],2017
132,22 June 2017,United Kingdom,1,Fall,A 23-year-old woman from South Korea fell from...,[170],2017
133,1 July 2017,Nigeria,2,Drowned,Four undergraduate students of the Federal Uni...,[171],2017
134,16 July 2017,India,48,Fire,48 people were injured when standing too close...,[172],2017
135,25 July 2017,India,1,Animal,A 30-year-old man sneaked into the Bannerghatt...,[173],2017
136,26 July 2017,Hungary,1,Fall,A local girl fell off a bridge in Budapest suf...,[174],2017
137,26 July 2017,India,1,Drowned,An 18-year-old was swept into the sea and drow...,[175],2017
138,11 August 2017,India,1,Electrocution,A 17-year-old boy climbed on top of a train in...,[176],2017
139,26 August 2017,India,1,Electrocution,A 17-year-old boy attempted to take a selfie o...,[177],2017
140,2 September 2017,India,1,Animal,"A youth in Rourkela, Odisha was trampled to de...",[178],2017
141,12 September 2017,United Kingdom,1,Transport,A 41-year-old woman from New Zealand who took ...,[179],2017
142,16 September 2017,Malaysia,1,Fall,A 20-year-old man believed to be taking a self...,[180],2017
143,12 November 2017,United Kingdom,1,Fall,A 20-year-old woman from New Zealand died on N...,[181],2017
144,25 December 2017,Mexico,1,Fall,A 20-year-old woman from Aguascalientes (Mexic...,[182],2017
145,8 January 2018,Croatia,1,Electrocution,"In Zagreb, Croatia, 14-year-old boy climbed on...",[183],2018
146,11 January 2018,Colombia,1,Fall,"In Gámbita, Santander, Colombia A 19-year-old ...",[184],2018
147,24 January 2018,India,1,Transport,A 22-year-old Indian man was struck by a train...,[185][186],2018
148,9 February 2018,Thailand,2,Transport,A 22-year-old Thai woman died as a result of h...,[187],2018
149,20 April 2018,Greece,1,Fall,"In Keratsini, Greece, a 16-year-old boy died a...",[188],2018
150,22 April 2018,Brazil,3,Fall,"In Castelo do Piauí, Piauí, Brazil A 22-year-o...",[189],2018
151,30 April 2018,Brazil,1,Fall,"At Corumbá Lake in Caldas Nova, a 34-year-old ...",[190],2018
152,2 May 2018,India,1,Animal,"In Nabarangpur, Odisha, India, a man tried to ...",[191],2018
153,11 June 2018,Indonesia,1,Fall,A 46 year old Chinese tourist died after falli...,[192],2018
154,12 June 2018,Portugal,2,Fall,"On the Praia dos Pescadores, Ericeira, Portuga...",[193],2018
155,5 September 2018,United States,1,Fall,An Israeli teen fell to his death while trying...,[194],2018
156,19 September 2018,United States,1,Fall,A Californian woman fell to her death while ta...,[195],2018
157,12 October 2018,Panama,1,Fall,A Portuguese woman fell to her death while tak...,[196],2018

In [20]:
# Save to CSV
df.to_csv("selfiedeaths.csv", index=False)

In [22]:
df.Type.value_counts()

Fall             55
Transport        32
Drowned          31
Electrocution    14
Firearm          11
Animal           10
Other             4
Fire              1
Name: Type, dtype: int64

In [23]:
df.Year.value_counts()

2016    63
2017    35
2015    33
2018    13
2014    12
2013     1
2011     1
Name: Year, dtype: int64

In [27]:
df_pared = df.drop(columns=['Date', 'Country', 'Description', 'Source(s)'])
df_pared

    Casualties           Type  Year
0            3      Transport  2011
1            1      Transport  2013
2            1  Electrocution  2014
3            1      Transport  2014
4            1      Transport  2014
5            1           Fall  2014
6            1           Fall  2014
7            1        Firearm  2014
8            1        Firearm  2014
9            2           Fall  2014
10           1  Electrocution  2014
11           1      Transport  2014
12           1        Drowned  2014
13           1           Fall  2014
14           1           Fall  2015
15           2          Other  2015
16           3      Transport  2015
17           1      Transport  2015
18           1      Transport  2015
19           7        Drowned  2015
20           1      Transport  2015
21           1           Fall  2015
22           2  Electrocution  2015
23           1  Electrocution  2015
24           1        Firearm  2015
25           1           Fall  2015
26           1           Fall  2015
27           1        Firearm  2015
28           2  Electrocution  2015
29           1           Fall  2015
..         ...            ...   ...
128          2      Transport  2017
129          1  Electrocution  2017
130          1  Electrocution  2017
131          1  Electrocution  2017
132          1           Fall  2017
133          2        Drowned  2017
134         48           Fire  2017
135          1         Animal  2017
136          1           Fall  2017
137          1        Drowned  2017
138          1  Electrocution  2017
139          1  Electrocution  2017
140          1         Animal  2017
141          1      Transport  2017
142          1           Fall  2017
143          1           Fall  2017
144          1           Fall  2017
145          1  Electrocution  2018
146          1           Fall  2018
147          1      Transport  2018
148          2      Transport  2018
149          1           Fall  2018
150          3           Fall  2018
151          1           Fall  2018
152          1         Animal  2018
153          1           Fall  2018
154          2           Fall  2018
155          1           Fall  2018
156          1           Fall  2018
157          1           Fall  2018

[158 rows x 3 columns]

In [28]:
df_pared.to_csv("selfiedeaths-pared.csv", index=False)

In [30]:
df[df.Year == '2018']

,Date,Country,Casualties,Type,Description,Source(s),Year
145,8 January 2018,Croatia,1,Electrocution,"In Zagreb, Croatia, 14-year-old boy climbed on...",[183],2018
146,11 January 2018,Colombia,1,Fall,"In Gámbita, Santander, Colombia A 19-year-old ...",[184],2018
147,24 January 2018,India,1,Transport,A 22-year-old Indian man was struck by a train...,[185][186],2018
148,9 February 2018,Thailand,2,Transport,A 22-year-old Thai woman died as a result of h...,[187],2018
149,20 April 2018,Greece,1,Fall,"In Keratsini, Greece, a 16-year-old boy died a...",[188],2018
150,22 April 2018,Brazil,3,Fall,"In Castelo do Piauí, Piauí, Brazil A 22-year-o...",[189],2018
151,30 April 2018,Brazil,1,Fall,"At Corumbá Lake in Caldas Nova, a 34-year-old ...",[190],2018
152,2 May 2018,India,1,Animal,"In Nabarangpur, Odisha, India, a man tried to ...",[191],2018
153,11 June 2018,Indonesia,1,Fall,A 46 year old Chinese tourist died after falli...,[192],2018
154,12 June 2018,Portugal,2,Fall,"On the Praia dos Pescadores, Ericeira, Portuga...",[193],2018
155,5 September 2018,United States,1,Fall,An Israeli teen fell to his death while trying...,[194],2018
156,19 September 2018,United States,1,Fall,A Californian woman fell to her death while ta...,[195],2018
157,12 October 2018,Panama,1,Fall,A Portuguese woman fell to her death while tak...,[196],2018

In [34]:
df[df.Year == '2017']

,Date,Country,Casualties,Type,Description,Source(s),Year
110,1 January 2017,India,1,Transport,A 21-year-old engineering student died when he...,[145][146],2017
111,4 January 2017,Pakistan,1,Drowned,"In Sukkur, Pakistan, a man fell into the Indus...",[147],2017
112,6 January 2017,Croatia,2,Electrocution,"In Rijeka, Croatia, two men climbed onto a con...",[148],2017
113,13 January 2017,India,1,Drowned,"A woman, Ashana Bhandari, fell into the Alakna...",[149],2017
114,14 January 2017,India,1,Transport,A second-year college student died while takin...,[150],2017
115,14 January 2017,India,2,Transport,Two teenagers were crushed under a train while...,[151],2017
116,25 January 2017,India,1,Transport,A 22-year-old man died while attempting to tak...,[152],2017
117,5 February 2017,India,1,Fall,A 22-year-old college student died after falli...,[153],2017
118,9 February 2017,New Zealand,1,Drowned,Four women were taking selfies on a rock in a ...,[154][155],2017
119,25 March 2017,United States,1,Drowned,A 14-year-old girl was standing on a log with ...,[156][157],2017
120,25 March 2017,Mexico,2,Transport,"In the city of Chínipas de Almada, Chihuahua, ...",[158][159],2017
121,13 April 2017,India,5,Transport,Police said Taraknath Makal was travelling by ...,[160],2017
122,30 April 2017,Germany,1,Transport,A Scottish man was knocked down and killed aft...,[161],2017
123,24 May 2017,India,2,Drowned,Two youths 21 and 22 years old from Hooghly di...,[162],2017
124,30 May 2017,India,2,Transport,"At Alwal Railway station near Secunderabad, In...",[163],2017
125,7 June 2017,India,1,Animal,A man in Dhenkanal district was seriously inju...,[164],2017
126,11 June 2017,Sri Lanka,2,Transport,Two youths from same family in Sri Lanka were ...,[165],2017
127,11 June 2017,Russia,4,Transport,Four children aged 10 to 13 were hit by a trai...,[166][167],2017
128,13 June 2017,Sri Lanka,2,Transport,A 24-year-old groom was killed and his bride s...,[168],2017
129,13 June 2017,Russia,1,Electrocution,A 15-year-old boy was killed when he tried to ...,[169],2017
130,16 June 2017,Russia,1,Electrocution,A 17-year-old boy was killed when he took a se...,[169],2017
131,17 June 2017,Russia,1,Electrocution,A 14-year-old girl was electrocuted when takin...,[169],2017
132,22 June 2017,United Kingdom,1,Fall,A 23-year-old woman from South Korea fell from...,[170],2017
133,1 July 2017,Nigeria,2,Drowned,Four undergraduate students of the Federal Uni...,[171],2017
134,16 July 2017,India,48,Fire,48 people were injured when standing too close...,[172],2017
135,25 July 2017,India,1,Animal,A 30-year-old man sneaked into the Bannerghatt...,[173],2017
136,26 July 2017,Hungary,1,Fall,A local girl fell off a bridge in Budapest suf...,[174],2017
137,26 July 2017,India,1,Drowned,An 18-year-old was swept into the sea and drow...,[175],2017
138,11 August 2017,India,1,Electrocution,A 17-year-old boy climbed on top of a train in...,[176],2017
139,26 August 2017,India,1,Electrocution,A 17-year-old boy attempted to take a selfie o...,[177],2017
140,2 September 2017,India,1,Animal,"A youth in Rourkela, Odisha was trampled to de...",[178],2017
141,12 September 2017,United Kingdom,1,Transport,A 41-year-old woman from New Zealand who took ...,[179],2017
142,16 September 2017,Malaysia,1,Fall,A 20-year-old man believed to be taking a self...,[180],2017
143,12 November 2017,United Kingdom,1,Fall,A 20-year-old woman from New Zealand died on N...,[181],2017
144,25 December 2017,Mexico,1,Fall,A 20-year-old woman from Aguascalientes (Mexic...,[182],2017